@model IEnumerable<CrudProduto.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="TableProduto">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoriaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFornecedorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFornecedorNavigation.Nome)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Idproduto" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Idproduto" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Idproduto" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
